/* styles.css */

body {
    font-family: archivo-black-2;
    background-color: #000;
    color: #100;
}
#bar {
    background-color: #000000;
    color: #ffffff;
}
.chapter {
    font-size: 160px;
    color: #ffffff;
}
.season {
    font-size: 120px;
    color: #ffffff;
}
.part {
    font-size: 80px;
    color: #ffffff;
}
.entry {
    font-size: 20px;
    color: #ffffff;
}
.milestone {
    font-size: 40px;
}
.numberGoal {
    font-size: 60px;
}
.ultimateGoal {
    font-size: 80px;
}
#app {
  text-align: center;
  margin: 8px;
  margin-top: 80px;
  margin-bottom: 40px;
  overflow: auto;
}
